.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    position: fixed;
    background-color: black;
    right: 0;
    display: none;
}

.topnav a {
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: lightcoral;
    color: white;
}

a.icon:hover {
    background-color: darkgrey;
}

a:hover {
    background-color: coral;
    color: white;
}

.navigation-bar {
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

/*background cover*/
.body {
    display: grid;
    height: 100vh;
    width: 100%;
    background-color: darkorange;
    grid-template-columns: 32px 131px auto 131px 32px;
    grid-template-rows: auto 45px 86px;
}

.signin {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #96B7F4;

}

.download {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: #F4E496;
}

/*choose your champion*/

.choose {
    display: grid;
    grid-template-columns: 10px 52px 83px auto 83px 52px 10px;
    grid-template-rows: auto 297px 32px 178px 20px 36px 15px 36px 60px 76px 20px 168px;
}

.choose-pic {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    background-color: #F4E496;
}

.discover {
    grid-row: 6 / 7;
    grid-column: 3 / 6;
    background-color: #F4E496;
}

.playforfree {
    grid-row: 8 / 9;
    grid-column: 3 / 6;
    background-color: #F4E496;
}

.riot {
    grid-column: 4 / 5;
    grid-row: 10 / 11;
    background-color: #F4E496;
}

.footer {
    grid-column: 1 / 8;
    grid-row: 12 / 13;
    background-color: #F4E496;
}

/*choose champion body text*/

.choose-body {
    grid-column: 3 / 6;
    grid-row: 4 / 5;
    background-color: #F4E496;
    display: grid;
    grid-template-rows: 13px 3px 41px 17px 82px;
}


.choose-head {
    grid-row: 1 / 2;
    background-color: blue;
}

.choose-subhead {
    grid-row: 3 / 4;
    background-color: brown;
}

.choose-text {
    grid-row: 5 / 6;
    background-color: darkmagenta;
}


/*Champion info page*/

.info {
    display: grid;
    grid-template-rows: 44px 140px 44px 32px 25px 212px 25px 60px 76px 20px 168px;
    grid-template-columns: 15px 141px 58px auto 58px 130px 15px ;
    background-color: #F4E496;
}

.info-body {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    background-color: blue;
    display: grid;
    grid-template-rows: 15px 3px 41px 19px 60px;
}
